<div id=fondo>
<h1><u><i>REGISTROS</i></u></h1>

<center><%= link_to "new", new_usuario_path, class: "btn btn-info"%><center>
</div>
<table class="usuarios">
    <tbody>
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>E-mail</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    <% @usuarios.each do |usuario|%>
    <tr>
        <td><%= "#{usuario.name} #{usuario.apellidoP} #{usuario.apellidoM}" %></td>
        <td><%= "#{usuario.edad} años" %></td>
        <td><%= usuario.email %></td>
        <td><%= link_to "Update", edit_usuario_path(usuario)%></td>
        <td><%= link_to "Destroy",  usuario_path(usuario), method: :delete, data: {confirm: 'Estas seguro?'} %></td>
    </tr>
    <%end%>
    </tbody>
</table>

